In [1]:
import pandas as pd
import numpy as np
import datetime
import gc
#import matplotlib.pyplot as plt
#import seaborn as sns

In [2]:
#sns.set(rc={'figure.figsize':(15,5)});
#plt.figure(figsize=(15,5));

In [3]:
%%time

usecols=['Semana', 'Cliente_ID', 'Producto_ID', 'Demanda_uni_equil']

dtype = {'Semana':'uint8',
         'Canal_ID':'uint8',
         'Agencia_ID':'uint16',
         'Ruta_SAK':'uint16',
         'Dev_uni_proxima':'uint16',
         'Cliente_ID':'category',
         'Producto_ID':'category',
         'Venta_uni_hoy':'uint32',
         'Demanda_uni_equil':'uint16',
         'Venta_hoy':'float32',
         'Dev_proxima':'float32'}

#df = pd.read_csv('train.csv', dtype=dtype, usecols=usecols)

Wall time: 0 ns

In [9]:
smp = pd.read_csv('sample.csv', dtype=dtype, usecols=usecols)

In [12]:
smp = quebra_cols(smp)

Semana: 3
Semana: 4
Semana: 5
Semana: 6
Semana: 7
Semana: 8
Semana: 9

In [14]:
smp.head()

,,Demanda_uni_equil_3,Demanda_uni_equil_4,Demanda_uni_equil_5,Demanda_uni_equil_6,Demanda_uni_equil_7,Demanda_uni_equil_8,Demanda_uni_equil_9
Cliente_ID,Producto_ID,,,,,,,
4490504,43033,NaN,NaN,NaN,NaN,NaN,3.0,NaN
471529,30572,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1417658,1250,NaN,NaN,4.0,NaN,NaN,NaN,NaN
4443674,32322,NaN,NaN,NaN,3.0,NaN,NaN,NaN
4286269,1250,NaN,NaN,NaN,NaN,NaN,NaN,5.0

#########################################################################################################

In [4]:
# 3    11165207
# 4    11009593
# 5    10615397
# 9    10408713
# 8    10406868
# 7    10382849
# 6    10191837

In [5]:
# Quebrando por semana

# dct={3:(11165257, None), 4:(11165157, 11009643), 
#      5:(22174750, 10615447), 6:(32790147, 10408763),
#      7:(53605728, 10406918), 8:(53605728, 10382899), 9:(63988577, 10191887)}
# 
# for semana in range(3, 10):
#     print(dct[semana])
#     df = pd.read_csv('train.csv', dtype=dtype, usecols=usecols, header=0, skiprows=dct[semana][1], nrows=dct[semana][0], names=usecols)
#     df[df.Semana==semana].to_csv('train_{0}.csv'.format(semana), index=False)
#

In [10]:
# conferindo se a quebra deu certo

# for semana in range(3, 10):
#     print(pd.read_csv('train_{0}.csv'.format(semana), dtype=dtype, usecols=usecols).Semana.value_counts())
#     gc.collect()

Semana 3: 3    11165207
Name: Semana, dtype: int64
Semana 4: 4    11009593
Name: Semana, dtype: int64
Semana 5: 5    10615397
Name: Semana, dtype: int64
Semana 6: 6    10191837
Name: Semana, dtype: int64
Semana 7: 7    10382849
Name: Semana, dtype: int64
Semana 8: 8    10406868
Name: Semana, dtype: int64
Semana 9: 9    10408713
Name: Semana, dtype: int64

In [3]:
# quebrando colunas por semana e demanda
def quebra_cols(smp):
    smp_ = smp[['Cliente_ID', 'Producto_ID']].set_index(['Cliente_ID', 'Producto_ID'])

    for semana in range(3,10):
        smp_ = smp_.join(smp[smp.Semana==semana].set_index(['Cliente_ID', 'Producto_ID'])[['Demanda_uni_equil']],
                         how='left',
                         rsuffix='_'+str(semana))
        print('Semana: {0}'.format(semana))
        gc.collect()
    smp_.rename(columns={'Demanda_uni_equil':'Demanda_uni_equil_3'}, inplace=True)
    return smp_

In [ ]:
print(datetime.datetime.now())

cps = pd.read_csv('cps.csv', index_col=['Cliente_ID', 'Producto_ID'], dtype=dtype)

print(datetime.datetime.now(), cps.shape)

for chunk in pd.read_csv('train_3.csv', dtype=dtype, usecols=['Demanda_uni_equil','Cliente_ID', 'Producto_ID'], chunksize=800, index_col=['Cliente_ID', 'Producto_ID']):
    cps.join(chunk, how='left', rsuffix='_3')
    gc.collect()
    print('-------- {0} --------'.format(datetime.datetime.now()))

2018-09-01 16:29:12.776841
2018-09-01 16:29:12.777842 (74180464, 0)